= render :partial => 'page', :locals => {:template_resources => @template_resources}

:javascript
  $(document).ready(function(){
    $.each(#{format_type_to_js(@build.fetch('build', {}))}, function(key, elm){
      if(elm['resource_name']){
        resource_name = elm['resource_name']
        sparkle_builder.build.resources.update_display(
          elm['resource_type'],
          resource_name,
          resource_name + ' [' + elm['resource_type'].replace('AWS::', '') + ']'
        );
      } else {
        console.log(key);
        $('#sprkl-resources').multiSelect({afterSelect: function(){}});
        $('#sprkl-resources').multiSelect('select', key);
        $('#sprkl-resources').multiSelect({afterSelect: configure_resource});
      }
    });
    $('body').data('sparkles', #{format_type_to_js(@build)});
    sparkle_builder.build.parameters.display();
    sparkle_builder.build.load_template_json();
  });
